<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0 d-flex justify-content-between align-items-center">
          <h6>Roles</h6>
          <!-- Botón para abrir el modal de creación -->
          <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modalCreate">
            Create Role
          </button>
        </div>
        <div class="container">
          <div class="row">
            <% @roles.each do |role| %>
              <div class="col-md-4">
                <div class="card shadow-sm mb-4">
                  <div class="card-body">
                    <h5 class="card-title text-center">
                      <%= role.name %>
                    </h5>
                    <div class="d-flex justify-content-between">
                      <!-- Button to edit -->
                      <%= button_tag "Edit" , type: "button" , class: "btn bg-gradient-info" , data: {
                        bs_toggle: "modal" , bs_target: "#modalEdit" , role: role.to_json } %>
                        <!-- Button to delete -->
                        <%= button_tag "Delete" , type: "button" , class: "btn bg-gradient-danger" , data: {
                          bs_toggle: "modal" , bs_target: "#confirmDeleteModal" } %>

                          <!-- Button to see permissions assigned to a role -->
                          <%= button_tag "Permissions assigned" , type: "button" , class: "btn bg-gradient-primary" ,
                            data: { bs_toggle: "modal" , bs_target: "#permissionsAssignedModal", rolePermissions: role.permissions.to_json, roleId: role.id} %>

                            <!-- Modal to delete -->
                            <%= render "roles/partials/confirmDeleteModal" , role: role %>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>

                <%= paginate @roles, class: "pagination pagination-primary" %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal to create -->
<div class="modal fade" id="modalCreate" tabindex="-1" aria-labelledby="modalCreateLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCreateLabel">Create Role</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render 'roles/partials/form' , role: @role %>
      </div>
    </div>
  </div>
</div>

<!-- Modal to edit -->
<div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="modalEditLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEditLabel">Edit Role</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="editModalBody">
        <!-- Contenido cargado dinámicamente con fetch -->
      </div>
    </div>
  </div>
</div>

<!-- Modal to see permissions assigned-->
<%= render "roles/partials/permissionsAssigned", permissions: @permissionList %>


<% content_for :javascript do %>

  <script>

    function chargeEditForm() {
      const editModal = document.getElementById("modalEdit");

      editModal.addEventListener("show.bs.modal", function (event) {
        const button = event.relatedTarget;
        const roleData = JSON.parse(button.getAttribute("data-role"));

        fetch(`/roles/${roleData.id}/edit`)
          .then(response => response.text())
          .then(html => {
            const modalBody = editModal.querySelector("#editModalBody");
            modalBody.innerHTML = html;
          });
      });
    }

    function showRolePermissions(){
      const permissionsAssignedModal = document.getElementById("permissionsAssignedModal");
      
      permissionsAssignedModal.addEventListener("show.bs.modal", function (event) {
        // obtener la información del role al que se le dió click
        const button = event.relatedTarget
        const rolePermissions = JSON.parse(button.getAttribute("data-rolePermissions"));
        const roleId = JSON.parse(button.getAttribute("data-roleId"));

        console.log(rolePermissions)
        // Mirar todos los permisos mostrados en forma de checkbox
        const permissionsBody = permissionsAssignedModal.querySelectorAll("#permissionsAssignedBody input");
        // console.log(permissionsBody)
        roleIdInput.value = roleId;
        // Recorrer todos los permisos (checkboxes)
        permissionsBody.forEach(checkbox => {
          // se iniciará como false porque si el role no tiene ningun permiso nunca entrará en el siguiente foreach
          checkbox.checked = false; 

          // recorrer los permisos asignados al rol
          rolePermissions.forEach(permission => {
            if(checkbox.id == permission.id){
              checkbox.checked = true;
            }
          })
        });    
      })
    };

    document.addEventListener("DOMContentLoaded", function () {
      chargeEditForm();
      showRolePermissions()
    });

  </script>

<% end %>