<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% elsif flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>
<%= form_with(model: @parameter_value) do |form| %>
  <%= form.label :id, "Identificador" %>

  <%= form.text_field :id %>
  
  <%= form.label :name, "Name" %>

  <%= form.text_field :name %>

  <%= form.label :parameter_id, "Parámetro" %>
  <%= form.collection_select :parameter_id, @parameters, :id, :name, prompt: "Seleccione un parámetro" %>


  <%= form.submit enviar %>

<% end %>
