<!DOCTYPE html>
<html>

<head>
  <title>
    <%= content_for(:title) || "Goalsmaster" %>
  </title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

      <%= yield :head %>

        <link rel="manifest" href="/manifest.json">
        <link rel="icon" href="/icon.png" type="image/png">
        <link rel="icon" href="/icon.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="/icon.png">
        <!--     Fonts and icons     -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
        <!-- Nucleo Icons -->
        <link href="https://demos.creative-tim.com/argon-dashboard-pro/assets/css/nucleo-icons.css" rel="stylesheet" />
        <link href="https://demos.creative-tim.com/argon-dashboard-pro/assets/css/nucleo-svg.css" rel="stylesheet" />
        <!-- Font Awesome Icons -->
        <!--<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script> -->
        <!-- CSS Files -->
        <%= stylesheet_link_tag "application" , data: { turbo_track: "reload" } %>
        <%= stylesheet_link_tag "argon-dashboard" , data: { turbo_track: "reload" } %>

        <%= javascript_importmap_tags %>

          <style>
            .card{
              padding: 5%;
            }
            .actions .btn{
              font-size: 16px;
            }
            
            .actions .btn{
              margin-top: 5%;
            }
            .field label{
              color: #344767;
            }
            form .field input{
              border-radius: 4px;
            }
          </style>

</head>

<body>
  <%= render 'shared/flash' %>

    <div class="min-height-300 bg-dark position-absolute w-100"></div>
    <!-- SideBar -->
    <main
      class="main-content position-relative border-radius-lg ps d-flex justify-content-center align-items-center vh-100">
      <!-- Navbar -->
      <div class="card d-flex justify-content-center align-items-center">
        <%= yield %>

      </div>

    </main>
</body>

</html>